@charset "UTF-8";

@import url(styles/header.css);
@import url(styles/banner.css);
@import url(styles/carousel.css);
@import url(styles/card.css);
@import url(styles/topics.css);
@import url(styles/contacts.css);

:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-p: "Poppins";
    --font-h1: "Josefin Sans"
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--font-p);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25em;
}