.card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--branco);
    border-radius: 1.5em;
    margin: 3%;
    gap: 1.5em;
    box-shadow: 2px 2px 4px rgb(114, 114, 114);
}

.card__row-1 {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.card__row-2 {
    display: flex;
    justify-content: space-between;
}

.card__subtitulo {
    font-weight: 700;
    color: var(--laranja);
    margin-bottom: 0.5em;
}

.card__titulo {
    font-weight: 700;
    color: var(--azul);
    font-size: 18px;
    margin-bottom: 0.5em;
}

.card__texto {
    font-size: 14px;
    margin-bottom: 0.5em;
}

.card__icones {
    display: flex;
    align-items: center;
    gap: 1em;
}

.card__botao {
    text-decoration: none;
    background-color: var(--laranja);
    padding: 1em 2.25em 1em 2.25em;
    color: var(--branco);
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .card {
        width: 50%;
        margin: 2em auto;
    }

    .card__row-1 {
        gap: 3em;
    }
}