.carousel__titulo {
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
}

.swiper-slide img {
    width: 100%;
    box-shadow: 2px 2px 4px rgb(114, 114, 114);
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;

}

@media (min-width: 1024px) {
    .carousel__titulo {
        padding-top: 2em;
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 1em 0 3em 0;
    }

    .swiper {
        width: 65%;
    }
}

.card {
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: var(--branco);
    border-radius: 1.5em;
    margin: 3%;
    gap: 1.5em;
    box-shadow: 2px 2px 4px rgb(114, 114, 114);
}

.card__row-1 {
    display: flex;
    justify-content: space-between;
    gap: 1em;
}

.card__row-2 {
    display: flex;
    justify-content: space-between;
}

.card__subtitulo {
    font-weight: 700;
    color: var(--laranja);
    margin-bottom: 0.5em;
}

.card__titulo {
    font-weight: 700;
    color: var(--azul);
    font-size: 18px;
    margin-bottom: 0.5em;
}

.card__texto {
    font-size: 14px;
    margin-bottom: 0.5em;
}

.card__icones {
    display: flex;
    align-items: center;
    gap: 1em;
}

.card__botao {
    text-decoration: none;
    background-color: var(--laranja);
    padding: 1em 2.25em 1em 2.25em;
    color: var(--branco);
    font-weight: 500;
}

@media screen and (min-width: 1024px) {
    .card {
        width: 50%;
        margin: 2em auto;
    }

    .card__row-1 {
        gap: 3em;
    }
}

@media screen and (min-width: 1728px) {
    .carousel-container {
        display: flex;
        align-items: center;
        gap: 4em;
        max-width: 1400px;
        margin: 3em auto 6em auto;
    }

    .carousel {
        flex: 1;
        min-width: 0;
    }

    .swiper {
        width: 100%;
    }

    .card {
        width: 40%;
        margin: 4em 0 0 0;
        flex-shrink: 0;
    }

    .card__subtitulo {
        font-size: 32px;
        line-height: 1.25em;
    }
}