.carousel__titulo {
    background-color: var(--branco);
    font-size: 18px;
    font-weight: 700;
    color: var(--laranja);
    text-align: center;
    text-transform: uppercase;
    padding: 1em 0;
}

.swiper-slide img {
    width: 100%;
    box-shadow: 2px 2px 4px rgb(114, 114, 114);
}

.swiper-pagination {
    position: initial;
    margin: 1em 0;

}

@media (min-width: 1024px) {
    .carousel__titulo {
        padding-top: 2em;
        font-size: 26px;
    }

    .swiper-pagination {
        margin: 1em 0 3em 0;
    }

    .swiper {
        width: 65%;
    }
}