.contatos {
    display: flex;
    flex-direction: column;
    padding: 2em 1.5em;
}

.contatos-titulo {
    font-size: 18px;
    color: var(--azul);
    font-weight: 500;
    margin-bottom: 1em;
}

.contatos-texto {
    line-height: 1.5em;
    font-weight: 300;
    margin-bottom: 2em;
}

.contatos-email {
    background-color: transparent;
    border: 1px solid var(--azul);
    color: var(--azul);
    border-radius: 24px;
    padding: 1em;
    width: calc(100%-2px);
}

.contatos-email::placeholder {
    background: url(../assets/Email.svg);
    background-repeat: no-repeat;
    background-position: 0.5em;
    padding-left: 2.5em;
    color: var(--azul);
    font-size: 16px;
    
}

@media screen and (min-width: 1024px) {
    .contatos {
        padding: 2em 0;
        flex-direction: row;
        margin: auto;
        align-items: center;
        justify-content: center;
        gap: 4em;
        width: 750px;
    }

    .contatos-titulo {
        font-size: 24px;
        line-height: 1.5em;
    }

    .contatos-email {
        width: 40%;
        flex-shrink: 0;
    }

    .contatos-texto {
        margin: 0px;
        color: var(--azul);
        flex: 1;
    }
}

@media screen and (min-width: 1728px) {
    .contatos {
        padding: 4em 0;
        justify-content: center;
        margin: auto;
        width: 1000px;
    }

    .contatos__texto {
        flex: 1;
    }

    .contatos-email{
        width: 30%;
        flex-shrink: 0;
    }
}