@charset "UTF-8";

.cabecalho {
    background-color: var(--braco-principal);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0em 1em;
    height: 61px;
    position: relative;
}

.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url(../assets/Menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    padding: 1em 0 1em 1em;
}

.container {
    display: flex;
    align-items: center;
    gap: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 70vw;
    background-color: var(--branco);
    z-index: 2;
}

.container__botao:checked ~ .lista-menu {
    display : block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--braco-principal);
}

.lista-menu__titulo {
    font-weight: bold;
    font-family: var(--font-p);
    color: var(--laranja);
}

.lista-menu__link {
    font-family: var(--font-p);
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-decoration: none;
    background-color: linear;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}

.desktop {
    display: none;
}

@media screen and (min-width: 1024px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: block;
    }

    .cabecalho {
        padding: 0 5em;
    }

    .container__titulo {
        font-size: 30px;
        font-family: var(--font-h1);
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .cabecalho__opcoes {
        display: flex;
        flex-direction: row;
    }

    .opcoes__item {
        text-decoration: none;
        text-transform: uppercase;
        color: var(--azul);
        padding: 1.3em 1em;
    }

    .opcoes__item:hover {
        cursor: pointer;
    }
    

    .opcoes__link {
        text-decoration: none;
        color: var(--azul);
    }

    .cabecalho__opcoes {
        position: relative;
    }

    .lista-menu {
        width: 60%;
    }
}
